name: Build Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AUTH_SERVER_IP: ${{ secrets.AUTH_SERVER_IP }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Setup rust toolchain
        run: rustup show

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
          # args: --all-features

      - name: cargo build
        run: cargo build --release --all-targets
